@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: url("./assets/images/home-background.png");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

img {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

header {
    position: sticky;
    top: 20px;
    margin-bottom: 10px;
}

nav {
    display: flex;
}

nav p {
    margin: 0 15px;
    font-size: 1rem;
    color: white;
    font-weight: 400;
    cursor: pointer;
}

nav p:hover {
    color: rgb(64, 172, 255);
}

nav a {
    text-decoration: none;
}

.flexbox {
    display: flex;
    justify-content: space-around;
    color: white;
    align-items: center;
}

.flexbox .left {
    width: 50%;
}

.flexbox .left p {
    margin: 20px 0;
}

.flexbox .left button {
    background: rgb(8, 111, 213);
    color: white;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    border: 0;
    border-radius: 2px;
    font-size: 1.3rem;
}

.flexbox .left button:hover {
    background: dodgerblue;
}

.flexbox .right img {
    border-radius: 20px;
}

.center {
    display: flex;
    height: 90vh;
    justify-content: center;
    align-items: center;
    background-image: url("./assets/images/background.jpg");
    background-size: cover;
}

.poster-bg {
    background-image: url("./assets/images/background.jpg");
    background-size: cover;
}

.login-container {
    background: rgb(0, 0, 0);
    padding: 40px;
}

.login-container input {
    margin-top: 20px;
    padding: 16px;
    outline: 0;
    font-size: 15px;
    border: 0;
    border-radius: 10px;
    width: 100%;
    background: rgb(255, 255, 255);
}

.login-container button {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    background: rgb(8, 111, 213);
    color: white;
    font-size: 1.3rem;
    outline: 0;
    border: 0;
    margin-top: 20px;
    cursor: pointer;
}

.login-container button:hover {
    background: dodgerblue;
}

header {
    display: flex;
    justify-content: space-between;
    z-index: 99999;
}

header .logo {
    color: white;
    font-size: 1.2rem;
    background: rgb(87, 87, 87);
    padding: 10px;
    user-select: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    position: fixed;
    align-items: center;
    width: 50px;
    top: 20px;
    right: 20px;
    height: 50px;
}

.poster img {
    width: 100%;
    margin-top: 40px;
    position: relative;
    left: 50%;
    transform: translateX(-50%) scale(0.97);
    transition: 0.5s ease;
    border: 5px solid rgb(8, 8, 14);
}

.poster img:hover {
    cursor: pointer;
    border: 7px solid white;
}

.dots {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: gray;
}

.dot:hover {
    cursor: pointer;
    background: rgb(230, 230, 230);
}

.flexbox__ {
    display: flex;
    justify-content: center;
}

.margin {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 30px;
}

.company {
    width: 75%;
    transition: 0.2s ease-in;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0px 7px 40px 0px black;
    border-radius: 10px;
    border: 3px solid transparent;
}

.company:hover {
    border: 3px solid rgb(255, 255, 255);
    transform: scale(1.07);
}

.snack {
    position: fixed;
    transition: 0.4s ease;
    padding: 15px;
    border-radius: 20px;
    background: rgb(3, 12, 40);
    color: white;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    text-align: center;
    opacity: 0;
    animation-name: snack;
    animation-iteration-count: 1;
    animation-duration: 2.5s;
}

.snack h3 {
    font-weight: 400;
}

.container {
    margin: 30px;
}

.movie img {
    border: 3px solid rgb(24, 32, 45);
    border-radius: 10px;
    transition: 0.5s ease;
}

.movie {
    position: relative;
}

.movie p {
    position: absolute;
    left: 50%;
    color: white;
    font-size: 1.1rem;
    bottom: 10px;
    transform: translateX(-50%);
}

.movie img:hover {
    border: 3px solid white;
    cursor: pointer;
    transform: scale(1.07);
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.movie-page-button {
    background: white;
    padding: 10px;
    color: black;
    border-radius: 10px;
    outline: 0;
    border: 0;
    cursor: pointer;
    margin: 0 10px;
    font-size: 1.2rem;
    transition: 0.3s ease;
}

.movie-page-button:hover {
    background: black;
    color: white;
}

.search-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.search-screen input {
    width: 83%;
    padding: 10px;
    border: 0;
    border-radius: 10px;
    outline: 0;
    margin-left: 10px;
}

.search-screen button {
    width: 17%;
    margin-right: 10px;
    padding: 10px;
    border: 0;
    margin-left: 10px;
    cursor: pointer;
    background: white;
    border-radius: 10px;
    outline: 0;
}

.search-screen input,
.search-screen button {
    font-size: 3rem;
}

@keyframes snack {
    0% {
        opacity: 0;
        bottom: 0px;
    }
    50% {
        opacity: 50%;
        bottom: 40px;
    }
    70% {
        opacity: 100%;
        bottom: 40px;
    }
    100% {
        opacity: 0;
        bottom: 40px;
    }
}

@media screen and (max-width: 768px) {
    .useless {
        display: none;
    }

    .flexbox {
        flex-direction: column;
        align-items: center;
    }

    .flexbox .left {
        width: 90%;
        margin-top: 70px;
    }

    .flexbox .right img {
        display: none;
    }

    header .logo {
        width: 40px;
        height: 40px;
        font-size: 1rem;
    }

    .poster img {
        border-width: 0px;
    }

    .poster img:hover {
        border-width: 3px;
    }

    .flexbox__ {
        flex-direction: column;
        align-items: center;
    }

    .margin {
        margin: 0;
    }

    .company {
        width: 100%;
        margin-top: 10px;
    }

    .movie {
        margin-top: 20px;
    }

    .grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .movie_page {
        margin: 10px;
    }

    .movie_page .left {
        text-align: center;
        width: 90% !important;
    }

    .search-screen {
        margin: 0 20px;
        flex-direction: column;
    }

    .movie-page-button {
        margin-top: 10px;
    }

    .search-screen input {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .search-screen button {
        width: 100%;
        margin-top: 10px;
        margin-left: 0;
        margin-right: 0;
    }
}
